.navbar-container{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-brand{
    width: 66.66%;
    justify-content: flex-start;
    margin-left: 32px;
}

.nav-contact{
    width: 33.33%;
    justify-content: center;
    margin-right: 32px;
}