.navbar-container{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (min-width: 1050px) {
        height: 64px;
        /* position: fixed; */
      }
}

.nav-brand{
    width: 66.66%;
    justify-content: flex-start;
    margin-left: 32px;
    @media (min-width: 1050px) {
        margin-left: 120px;
        position: absolute;
        left: 0;
      }
}

.nav-contact-mobile{
    width: 33.33%;
    justify-content: center;
    margin-right: 32px;
    @media (min-width: 1050px) {
        display: none;;
      }
}

.nav-contact-web{
    width: 33.33%;
    justify-content: end;
    margin-right: 120px;
    gap: 20px;
    position: absolute;
    right: 0;
    @media (max-width: 1050px) {
        display: none;;
      }
}

.nav-phone{
    display: flex;
    align-items: center;
}