.thanks {
  &__container {
    display: flex;
    flex-direction: column;
    @media (min-width: 1050px) {
      flex-direction: row;
      height: 91vh;
    }
  }
  &__hero {
    display: flex;
    justify-content: center;
    background: #f7f8fc;
    @media (min-width: 1050px) {
      width: 500px;
    }
  }
  &__img {
    height: 85%;
    width: 80%;
  }
  &__info {
    margin-top: 48px;
    padding: 0 32px;
    @media (min-width: 1050px) {
        width: 480px;
        margin-top: 0;
        margin-left: 120px;
        padding: 0 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  }
  &__head {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  &__email {
    margin: 32px 0 40px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__button{
    @media (min-width: 1050px) {
        width: 250px;
      }
  }
  &__footer {
    height: 76px;
    display: flex;
    align-items: center;
    margin-top: 57px;
    padding-left: 32px;
    border-top: 1px solid $color-light-grey;
  }
}
