.button-main{
    height: 56px;
    width: 100%;
    border-radius: 6px;
    background-color: $color-alert;
    border: none;
    color: whitesmoke;
    font-size: 14px;
    font-weight: $text-bold;
    line-height: 16px;
    letter-spacing: 2px
}