$color-primary: #494F66; 
$color-secondary: #6F7DFF;
$color-success: #3b9f3b;
$color-alert: #FF1C44;
$color-grey: #676F8F;
$text-xs: 10px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 24px;
$text-light: 400;
$text-bold: 700;